@model IEnumerable<Entidades.FacturaE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button id="btnCrearClientes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCrear">
    Añadir Cliente
</button>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.num_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_pago)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.num_factura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_pago)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                @Html.ActionLink(" Detalles", "VerDetsFact", new { id = item.num_factura }) |
                <a href="#" class="btn btn-danger Editar" id="@item.num_factura" name="@item.num_factura" data-toggle="modal" data-target="#ModalEditar">Editar</a>

            </td>
        </tr>
    }

</table>
<!-- Modal Crear Usuario-->
<div class="modal fade" id="ModalCrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear un nuevo cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dvCrearClientes"></div>
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
            $("#btnCrearClientes").click(function () {
                var _url = '/Facturas/Crear';
                $.ajax({
                    type: "Get",
                    url: _url,
                    data: {},
                    async: false,
                    success: function (response) {
                        $('#dvCrearClientes').html(response);
                    },
                    error: function (response) {
                        if (response.responseText != "") {
                            alert(response.responseText);
                        }
                    }
                });
            });
        });

        
    </script>
    }
